body {
    font-family: "Roboto", sans-serif;
    padding-top: 120px;
    background: #F2F2F2;
    color: #000000;
    font-size: 16px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Header */

header {
    position: fixed;
    height: 85px;
    top: 0px;
    left: 0px;
    background: #E44141;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
}

header img {
    height: 60px;
    width: 170px;
}

/* Main */

main {
    padding: 0px 15px 30px;
}

main ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main li {
    background: #ffffff;
    border-radius: 20px;
    width: 165px;
    height: 170px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

main img {
    width: 140px;
    height: 110px;
}

.description {
    height: 37px;
}

.loading {
    width: 280px;
    height: 240px;
    margin: 0 auto;
}

main span {
    color: #bcbcbc;
}